:root {
    --color-primary: #691c1c;
    --color-secondary: lightgray;
    --color-light: #f1f0ee9e;
    --color-dark: #333;
    --color-white: #ffffff;
    --color-muted: #777777;
    --font-primary: 'Trebuchet MS', sans-serif;
    --font-secondary: 'Times New Roman', serif;
    --gap-small: 1rem;
    --gap-medium: 2rem;
    --gap-large: 4rem;
    --padding-base: 1.5rem;
    --margin-base: 1.5rem;
    --border-radius-base: 10px;
    --shadow-base: 0 2px 8px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:var(--font-primary);
    line-height: 1.6;
    background-color: #fff;
}

/* LOGIN */
.login-container, .signup-container {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
}
.login-form-container, .signup-form-container {
    width: 60vw;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-large);
}

.login-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo {
    width: 10rem;
    height: 10rem;
}

.login-image-container, .signup-image-container {
    width: 40vw;
    background: url('../images/undraw_access_account_re_8spm.svg') no-repeat center center;
    background-size: contain;
}

.external-signin-links {
    height: var(--gap-large);
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
}

.google-img, .facebook-img, .linkedin-img {
    width: 2.5rem;
    height: 2.5rem;
}

.sign-in-button, .sign-in-p {
    margin-top: var(--gap-medium);
}


/* Navigation */

.header-container {
    margin-right: 300px;
}

.jumpa-logo {
    width: 32px;
    height: auto;
}

.horizontal-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding-left: 3rem;
}

.nav-search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

.dropdown-profile {
    text-decoration: none;
}

.dropdown-profile:focus, .dropdown-profile:active {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    outline: none;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.login a, .log-out a, .signup-p a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
}

.sub-navbar a {
    color: var(--color-dark);
    font-size: 16px;
    margin: 0 15px;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-left: -5rem;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
}

.dropdown-menu a {
    color: var(--color-dark);
}

.dropdown-toggle::before, .dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-toggle {
    color: var(--color-primary);
}

.dropdown-item:hover {
    background-color: #fff;
    width: inherit;
}

.sub-navbar a:hover {
    color: var(--color-primary);
}

.categories-container {
    overflow-x: auto;
    white-space: nowrap;
    /* background-color: #fdfdfd; */
}

.categories {
    display: flex;
    justify-content: center;
}

.categories a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: var(--color-dark);
    font-size: 14px;
    /* border: 1px solid transparent;
    border-radius: 4px; */
}

.categories-container::-webkit-scrollbar {
    display: none;
}

.categories-container {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.form-control {
    width: 100%;
}

.text-dark {
    color: #000 !important;
}

.fw-bold {
    font-weight: 700;
}

.gap-3 {
    gap: var(--gap-small) !important;
}

.nav-search-bar { 
    width: 30vw;
    margin-right: 3rem;
}

/* Main Section */
main {
    /* padding: 2rem; */
    background-color: #fff;
}

.main-banner {
    height: 70vh;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/undraw_work_chat_re_qes4.svg') right bottom no-repeat, url('../images/undraw_working_re_ddwy.svg') left bottom repeat, url('../images/undraw_work_time_re_hdyv.svg') left top repeat, url('../images/undraw_hiring_re_yk5n.svg') right top repeat;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

@media only screen and (min-width: 1400px){
    .main-banner {
        height: 70vh;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url('../images/undraw_work_chat_re_qes4.svg') right bottom no-repeat, url('../images/undraw_working_re_ddwy.svg') left bottom repeat, url('../images/undraw_work_time_re_hdyv.svg') left top repeat, url('../images/undraw_hiring_re_yk5n.svg') right top repeat;
        background-repeat: no-repeat;
        background-size: 20rem 20rem;
        margin: -var(--gap-small) 0;
    }
}

.main-banner-header-p, .simple-quick-secure {
    font-family: var(--font-secondary), serif;
}

.main-banner-header-p, .simple-quick-secure, .jumpa-xxl-logo {
    z-index: 2;
}

.simple-quick-secure {
    font-size: 1.2rem;
}

.main-banner-header-p {
    margin: 20px 0;
    padding: 20px;
}

.main-banner p {
    font-size: 4rem;
    margin: 15px 0;
}

.jumpa-xxl-logo {
    width: 16rem;
    height: auto;
    background-color: transparent;
}

.hire-skilled-worker, .do-work-get-paid, .security, .verification {
    text-align: center;
    background-color: white;
    margin: 20px 0;
    padding: 7rem 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-skilled-worker, .security {
    background-color: var(--color-secondary);
}

.hire-skilled-worker-text p:last-of-type, .do-work-get-paid-text p:last-of-type, .security-text p:last-of-type, .verification-text p:last-of-type {
    font-weight: 300;
    color: var(--color-muted);
    margin-bottom: 3rem;
}

.security-text p:last-of-type, .verification-text p:last-of-type {
    font-style: italic;
}

.hire-h2, .work-get-paid-h2, .safety-h2, .verify-h2 {
    font-size: var(--gap-medium);
}

.hire-skilled-worker-text p:first-of-type, .do-work-get-paid-text p:first-of-type, .security-text p:first-of-type, .verification-text p:first-of-type {
    font-weight: 700;
    margin-bottom: var(--gap-small);
}

.hire-skilled-worker-text, .do-work-get-paid-text, .security-text, .verification-text {
    width: 40%;
}

.hire-skilled-worker-images, .do-work-get-paid-images, .security-images, .verification-images {
    width: 60%;
}

.hire-skilled-worker-images img, .do-work-get-paid-images img, .security-images img, .verification-images img {
    width: 20rem;
    height: auto;
}

.hire-button, .work-pay-button {
    padding: var(--gap-small);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.hire-button {
    border: 3px solid #969696;
    background-color: transparent;
}

.work-pay-button {
    border: none;
    background-color: var(--color-secondary) ease;
    color: var(--color-muted);
}

.hire-button:hover {
    background-color: #969696;
    border: 3px solid transparent;
}

.work-pay-button:hover {
    background-color: rgb(206, 206, 206);
    color: #535353;
}

/* Large screens (max-width: 1200px) */
@media (max-width: 1200px) {
    .main-banner {
        height: 70vh;
        background-size: 15rem 15rem;
        padding: var(--gap-medium);
    }

    .main-banner-header-p, .simple-quick-secure {
        font-size: 1rem;
        text-align: center;
    }

    .jumpa-xxl-logo {
        width: 12rem;
    }

    .hire-skilled-worker, .do-work-get-paid, .security, .verification {
        padding: 5rem 15%;
    }
}

/* Medium screens (max-width: 992px) */
@media (max-width: 992px) {
    .main-banner {
        flex-direction: column;
        height: 70vh;
        padding: var(--gap-small);
        background-size: 12rem 12rem;
    }

    .hire-skilled-worker, .do-work-get-paid, .security, .verification {
        flex-direction: column;
        padding: 4rem 10%;
    }

    .hire-skilled-worker-text, .do-work-get-paid-text, .security-text, .verification-text {
        width: 100%;
    }

    .hire-skilled-worker-images, .do-work-get-paid-images, .security-images, .verification-images {
        width: 100%;
        margin-top: var(--gap-small);
    }

    .hire-button, .work-pay-button {
        padding: var(--gap-small) var(--gap-medium);
    }

    .main-banner-header-p, .simple-quick-secure {
        font-size: 0.9rem;
    }

    .jumpa-xxl-logo {
        width: 10rem;
    }

    .hire-skilled-worker, .do-work-get-paid, .security, .verification {
        padding: var(--gap-large);
    }
}

/* Small screens (max-width: 768px) */
@media (max-width: 768px) {
    .main-banner {
        height: 70vh;
        text-align: center;
        padding: var(--gap-small);
        background-size: 10rem 10rem;
    }

    .hire-skilled-worker, .do-work-get-paid, .security, .verification {
        padding: var(--gap-large);
    }

    .hire-skilled-worker-images img, .do-work-get-paid-images img, .security-images img, .verification-images img {
        width: 15rem;
        margin: auto;
    }

    .hire-button, .work-pay-button {
        padding: var(--gap-small) var(--gap-medium);
    }
}

/* Extra small screens (max-width: 576px) */
@media (max-width: 576px) {
    .main-banner {
        height: 70vh;
        padding: var(--gap-small);
        background-size: 8rem 8rem;
    }

    .hire-skilled-worker-images img, .do-work-get-paid-images img, .security-images img, .verification-images img {
        width: 100%;
    }

    .main-banner-header-p, .simple-quick-secure {
        font-size: 0.8rem;
    }

    .jumpa-xxl-logo {
        width: 8rem;
    }

    .hire-skilled-worker, .do-work-get-paid, .security, .verification {
        padding: var(--gap-large);
    }

    .hire-button, .work-pay-button {
        padding: var(--gap-small) var(--gap-medium);
    }
}

/* Footer */
footer {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background: var(--color-primary);
    color: var(--color-white);
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    padding: 0 20px;
}

.footer-logo {
    text-align: center;
    flex: 1 1 100%;
}

.footer-logo img.jumpa-footer-logo {
    width: 8rem;
    height: auto;
    margin-bottom: var(--gap-small);
}

.footer-logo p {
    font-size: 0.9rem;
    margin: 5px 0;
}

.footer-links {
    display: flex;
    /* flex-direction: row; */
    flex: 1 1 45%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    margin: 10px 0;
    display: block;
}

.footer-links h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: rgb(225, 225, 225);
}

.social {
    text-align: center;
    flex: 1 1 100%;
}

.social h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: rgb(225, 225, 225);
}

.footer-social-links {
    display: flex;
    justify-content: center;
    gap:var(--gap-small)
}

.footer-social-links img {
    width: 30px;
    height: auto;
}

/* Responsive Design */
@media (max-width: 992px) {
    .footer-container {
        justify-content: center;
        text-align: center;
    }

    .footer-links {
        flex: 1 1 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul {
        margin: 10px 0;
    }

    .footer-logo img.jumpa-footer-logo {
        width: 7rem;
    }

    .footer-social-links {
        gap: 0.5rem;
    }
}

@media (max-width: 768px) {
    footer {
        font-size: 14px;
    }

    .footer-logo img.jumpa-footer-logo {
        width: 6rem;
    }

    .footer-links h4 {
        font-size: var(--gap-small)
    }

    .footer-links ul li a {
        font-size: 0.85rem;
    }

    .social h4 {
        font-size: var(--gap-small)
    }

    .footer-social-links img {
        width: 25px;
    }
}

/* Profile Section */
#profilemainid {
    background-color: var(--color-light);
    padding: var(--padding-base);
}

.createprofilemain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: var(--margin-base) auto;
    padding: var(--padding-base);
    border-radius: var(--border-radius-base);
    background-color: var(--color-white);
    box-shadow: var(--shadow-base);
}

.createprofiletitle {
    text-align: center;
    margin-bottom: var(--margin-base);
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-dark);
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.additional-info {
    font-size: calc(var(--padding-base)/1.2);
    font-weight: 500;
    margin: 1.3rem 0;
}

.upload-form {
    margin: 1.2rem auto;
}

.editprofile-form, .createpost-form{
    display: grid;
    gap: var(--gap-medium);
    padding: var(--padding-base);
}

.editprofile-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: var(--gap-small);
}

.editprofile-row label {
    font-weight: bold;
    color: var(--color-dark);
}

.editprofile-submit {
    text-align: center;
    margin-top: var(--gap-medium);
}

.editprofile-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4rem 0;
}

.editprofile-submit button {
    width: 10vw;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: var(--gap-small);
}

.form-row input,
.form-row textarea {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding: var(--padding-small);
    font-size: 0.9rem;
}

.form-label {
    font-weight: bold;
    color: var(--color-dark);
}

textarea.form-control {
    resize: vertical;
}

fieldset {
    margin: calc(var(--gap-small)/4) 0;
    border: 1px solid var(--color-secondary);
    padding: var(--gap-small);
    border-radius: var(--border-radius-base);
}

legend {
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-dark);
}

button {
    padding: var(--gap-small) var(--gap-medium);
    font-size: 1rem;
    border-radius: var(--border-radius-base);
}

/* Responsive Design */
@media (max-width: 767px) {
    .footer-logo img {
        width: 6rem;
    }

    .createprofilemain {
        padding: var(--gap-medium);
        margin: var(--gap-small);
    }

    .createprofiletitle {
        font-size:  var(--padding-base);
    }
}

/* Employee Dashboard */
.employee-dashboard {
    padding-top: 2.5rem;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 1rem;
}

.section-title, .recommended-gig-title, .recent-gig-title {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';
}

.time-posted {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.gig-time, .gig-location, .gig-price {
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';
}

.gig-card {
    background-color: #f5f5f5;
    color: black;
    padding: var(--padding-base);
    border-radius: var(--padding-base);
    margin-bottom: var(--padding-base);
    text-align: left;
    width: auto;
}

.gig-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.gig-card .time, .gig-card .location, .gig-card .price {
    margin-top: 5px;
    font-weight: 500;
}

.icon-row img {
    width: 25px;
    margin-right: 10px;
}

.gig-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gig-card {
    flex: 1;
    margin: 10px;
}

.gig-card:hover {
    cursor: pointer;
}

.gig-img {
    width: 20px;
    height: 20px;
}

/* Responsive Design */
@media(max-width: 768px) {
    .gig-row {
        flex-direction: column;
    }

    .footer-logo img {
        width: 6rem;
    }
}

@media(max-width: 576px) {
    .gig-card {
        padding: var(--gap-small);
        text-align: center;
    }

    .gig-card-img {
        height: 120px;
    }

    .employee-dashboard {
        padding: var(--gap-small);
    }

    .section-title, .recommended-gig-title, .recent-gig-title {
        font-size: 1.2rem;
    }

    .section-title {
        font-weight: bold;
        text-align: center;
    }
}

/* Tabs Styling */
.custom-nav-tabs {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: space-around;
}

.custom-nav-tabs .nav-link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 5px 5px;
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.custom-nav-tabs .nav-link:active {
    color: #000;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* Table */
.priority-orders-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.priority-orders-table th, .priority-orders-table td {
    padding: 15px;
    vertical-align: middle;
}

.priority-orders-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Task, Bidding, and Form Cards */
.task-details-card {
    padding: var(--gap-large);
}

.details-p {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.details-p > div {
    flex: 1 1 45%;
    min-width: 200px;
}

.task-details-card, 
.bidding-info-card, 
.bidding-form-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    margin: 10px 0;
    overflow: visible;
    word-wrap: break-word;
}

.task-details-card h5, 
.bidding-info-card h5, 
.bidding-form-card h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom:  var(--padding-base);
}

/* Task Details Styling */

.task-details-card p {
    font-size: var(--gap-small);
    color: #555;
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
}

.task-details-card p strong {
    color: var(--color-dark);
}

/* Bidding Table */
.bidding-info-card table {
    width: 100%;
    border-collapse: collapse;
}

.bidding-info-card table th,
.bidding-info-card table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.bidding-info-card table th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.bidding-info-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* Bidding Form Styling */
/* General Table Styling */
.bidding-info-card {
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow-x: auto;
}

.bidding-info-card h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--color-dark);
}

/* Table Styling */
.bidding-info-card table {
    width: 100%;
    border-collapse: collapse;
}

.bidding-info-card table th,
.bidding-info-card table td {
    text-align: left;
    padding: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.bidding-info-card table th {
    background-color: #f8f9fa;
    font-weight: 600;
    text-align: center;
}

.bidding-info-card table td {
    text-align: center; /* Center-align the content for consistency */
}

/* Profile Image Styling */
.bidding-info-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto; /* Center-align images */
    display: block;
}

/* Adjusting Font Sizes for Consistency */
.bidding-info-card table td {
    font-size: 0.95rem;
    color: #555555;
}

.bidding-info-card table th {
    font-size: var(--gap-small);
    color: #444444;
}

/* Add Spacing Between Rows */
.bidding-info-card table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

/* Hover Effect for Rows */
.bidding-info-card table tbody tr:hover {
    background-color: #f9f9f9;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .task-details-card, .bidding-info-card, .bidding-form-card {
        padding: var(--gap-medium) var(--gap-medium);
    }

    .bidding-info-card table th,
    .bidding-info-card table td {
        font-size: 0.85rem;
        padding: 10px;
    }
}


.bidding-form-card .starting-bid-card, 
.bidding-form-card .latest-bid-card, 
.bidding-form-card .your-bid-card {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.bidding-form-card .starting-bid-card-body,
.bidding-form-card .latest-bid-card-body,
.bidding-form-card .your-bid-card-body {
    text-align: center;
}

.bidding-form-card .input-group-text {
    font-size: var(--gap-small)
}

.bidding-form-card .form-control {
    font-size: var(--gap-small);
    padding: 10px;
}

.bidding-form-card .btn-primary {
    font-size: var(--gap-small);
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 992px) {
    .task-details-card, .bidding-info-card, .bidding-form-card {
        padding: var(--gap-medium) var(--gap-medium);
    }

    .task-details-card h5,
    .bidding-info-card h5,
    .bidding-form-card h5 {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .task-details-card h5,
    .bidding-info-card h5,
    .bidding-form-card h5 {
        font-size: var(--gap-small)
    }

    .bidding-form-card .btn-primary {
        width: 100%;
    }

    .employee-dashboard .col-flex {
        flex: 1 1 100%;
        width: 100%;
    }
    
    .bidding-info-card table th, .bidding-info-card table td {
        padding: 10px;
    }
}

@media (max-width: 992px) {
    .employee-dashboard .col-flex {
        flex: 1 1 50%;
    }
}

/* Section Headings */
h4, h5 {
    font-family: 'Arial', sans-serif;
    color: var(--color-dark);
    font-weight: bold;
}

/* Bidder page */
.bidder-profile-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow:  var(--shadow-base);;
}
.bidder-profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.btn-red {
    background-color: var(--color-primary);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-red:hover {
    background-color: #a03131;
    color: white;
}
.whatsapp-icon {
    color: green;
    font-size: 3rem;
}

#user-photo{
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}

#modal-photo{
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

#task-photo-container{
    object-fit: cover;
    background-color: white;
    height: 200px;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* login */
    .login-image-container, .signup-image-container {
        display: none;
    }

    .login-container, .signup-container {
        height: 100vh;
        margin: 0 2%;
    }

    .login-form-container, .signup-form-container {
        width: 100%;
        padding: 0 var(--gap-medium);
        display: flex;
        flex-direction: column;
        gap: var(--gap-medium);
    }
    
    .login-logo {
        width: 8rem;
        height: 8rem;
    }

    /* Topnav */

    .notifications-img, .messages-img, .profile-dropdown {
        display: none;
    }

    .categories-container { 
        overflow-x:auto; 
        white-space:no-wrap; 
    }
    
    .nav-search-bar { 
        width: auto;
        margin-top:.5rem; 
    }

    .horizontal-nav {
        display: flex;
        justify-content: space-evenly;
        gap: 0rem;
        padding-left: 0rem;
    }
}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) and (min-width: 601px) {
    /* login */
    .login-image-container, .signup-image-container {
        display: none;
    }

    .login-container, .signup-container {
        height: 100vh;
        margin: 0 2%;
    }

    .login-form-container, .signup-form-container {
        width: 100vw;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-medium);
    }

    /* Topnav */
    .notifications-img, .messages-img, .profile-dropdown {
        display: none;
    }

    .categories-container { 
        overflow-x:auto; 
        white-space:no-wrap; 
    }
    
    .nav-search-bar { 
        width: auto;
        margin-top:.5rem; 
    }

    .horizontal-nav {
        display: flex;
        justify-content: space-evenly;
        gap: 0rem;
        padding-left: 0rem;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 992px) and (min-width: 769px) {
    /* LOGIN */
    .login-container, .signup-container {
        display: flex;
        height: 100vh;
        margin: 0 auto;
        overflow-y: hidden;
    }

    .login-form-container, .signup-form-container {
        width: 70vw;
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        gap: var(--gap-large);
    }

    .login-image-container, .signup-image-container {
        width: 30vw;
        background: url('../images/undraw_access_account_re_8spm.svg') no-repeat center center;
        background-size: contain;
    }

    /* Topnav */
    .notifications-img, .messages-img, .profile-dropdown {
        display: none;
    }
    
    .categories-container { 
        overflow-x:auto; 
        white-space:no-wrap; 
    }
    
    .nav-search-bar { 
        width: 80vw;
        margin-top:.5rem; 
    }

    .horizontal-nav {
        display: flex;
        justify-content: space-evenly;
        gap: 0rem;
        padding-left: 0rem;
    }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (max-width: 1200px) and (min-width: 993px) {
    /* LOGIN */
    .login-container, .signup-container {
        display: flex;
        height: 100vh;
        margin: 0 auto;
        overflow-y: hidden;
    }
    .login-form-container, .signup-form-container {
        width: 70vw;
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        gap: var(--gap-large);
    }

    .login-image-container, .signup-image-container {
        width: 30vw;
        background: url('../images/undraw_access_account_re_8spm.svg') no-repeat center center;
        background-size: contain;
    }

    /* Topnav */    
    .categories-container { 
        overflow-x:auto; 
        white-space:no-wrap; 
    }

    .horizontal-nav {
        display: flex;
        justify-content: space-evenly;
        gap: 0rem;
        padding-left: 0rem;
    }
}

@media only screen and (max-width: 389px) {
    * {
        font-size: 0.8rem;
    }
}